:root{
    --color_one:#9feaf9;
    --color_two:#028399;
    --color_three:#1b1c26;
    --color_four:#d9dcde;
    --color_five:#ebede9;

    --color_placeholder:#028399;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-size: 100%;
}
body{
    background-color: var(--color_five);
    min-height: 100vh;
    max-width: 100vw;
}
.other-pages-header{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 1rem;
    padding: 0 20%;
}

/* NAVIGATION */
nav{
    z-index: 2;
    position: sticky;
    top: 0;
    max-width: 100%;
    padding: 0.5rem 0;
    background-color: var(--color_three);
    border-bottom: #2F3242 solid 1px;
}
.nav-bar-wrapper{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-bar-wrapper .links{
    display: flex;
    gap: 2rem;
}
.nav-bar-wrapper a, .dropdown_menu a{
    text-decoration: none;
    color: var(--color_one);
    font-size: 1.2rem;
    transition: color 0.2s ease-in-out;
}
.nav-bar-wrapper a:hover, .dropdown_menu a:hover{
    color: var(--color_two);
}
.moz-link img{
    width: auto;
    height: 3rem;
    border-radius: 50%;
    background-color: #2F3242;
}
.moz-link{
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 0.25rem;
}
.logo-text{
    font-weight: bold;
}
.nav-bar-wrapper li, .dropdown_menu li{
    list-style-type: none;
}
.social-links a{
    font-size: 1.8rem;
    color: var(--color_one);
    margin: 0;
    transition: color 0.2s ease-in-out;
}
.nav-bar-wrapper .toggle_btn{
    color: var(--color_one);
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
}
/* DROPDOWN MENU */
.dropdown_menu{
    display: none;
    position:absolute;
    right: 0rem;
    left: 0rem;
    top: 65px;
    height: 0;
    width: unset;
    background-color: #2F3242;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu li:nth-child(1) a{
    padding-top: 1rem;
}
.open{
    height: 330px;
}
.dropdown_menu > *{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .social-links{
    padding-top: 2.5rem;
}

/* HEADER-HERO */
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    gap: 3rem;

    background-color: var(--color_three);
    color: var(--color_one);
    padding: 2rem 0;
    border-bottom: 1rem solid var(--color_one);
}
header img{
    width: auto;
    height: 17rem;
}
header h1{
    font-weight: normal;
}
.header-links{
    display: flex;
    gap: 2rem;
}
header .header-links a{
    text-decoration: none;
    color: var(--color_three);
    background-color: var(--color_one);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;

    transition: background-color 0.2s ease-in-out;
}
header a:hover{
    background-color: #82b5bf;
}


/* MAIN SECTION */
main{
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    gap: 5rem;
}
main .card-wrapper{
    max-width: 20%;
}
main .card-wrapper h2{
    padding:0 0 0.5rem 0;
}
.card-wrapper img{
    width: auto;
    height: 5rem;
}
/* ABOUT US MAIN SECTION */
.aboutus_body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3cpath d='M43 250L293 0L507.5 0L257.5 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)'%3e%3c/path%3e%3cpath d='M265.6 250L515.6 0L554.6 0L304.6 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)'%3e%3c/path%3e%3cpath d='M499.20000000000005 250L749.2 0L900.7 0L650.7 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)'%3e%3c/path%3e%3cpath d='M753.8000000000001 250L1003.8000000000001 0L1228.8000000000002 0L978.8000000000001 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)'%3e%3c/path%3e%3cpath d='M1437 250L1187 0L872 0L1122 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1005%26quot%3b)'%3e%3c/path%3e%3cpath d='M1163.4 250L913.4000000000001 0L719.9000000000001 0L969.9000000000001 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1005%26quot%3b)'%3e%3c/path%3e%3cpath d='M922.8 250L672.8 0L336.79999999999995 0L586.8 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1005%26quot%3b)'%3e%3c/path%3e%3cpath d='M717.1999999999999 250L467.19999999999993 0L306.69999999999993 0L556.6999999999999 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1005%26quot%3b)'%3e%3c/path%3e%3cpath d='M1250.572254144283 250L1440 60.57225414428305L1440 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 250L189.42774585571695 250L 0 60.57225414428305z' fill='url(%26quot%3b%23SvgjsLinearGradient1005%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1004'%3e%3cstop stop-color='rgba(117%2c 180%2c 193%2c 0.55)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(117%2c 180%2c 193%2c 0.55)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1005'%3e%3cstop stop-color='rgba(117%2c 180%2c 193%2c 0.55)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(117%2c 180%2c 193%2c 0.55)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
}
.aboutus-header .header-links a{
    font-size: 1rem;
}
.about_us_main, .testimonials_main, .contactus_main{
    gap: 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:2rem 20%;
}
hr{
    border: solid 1px var(--color_two);
    width: 100%;
    margin-bottom: 1rem;
    align-self: flex-start;
}
.about_us_main h2,.package_main h1,.testimonials_main h1{
    align-self: flex-start;
}
.about_us_main p{
    padding-bottom: 4rem;
}

/* SERVICES MAIN SECTION */
.service_body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3cpath d='M94 73L401 380' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M973 114L1333 474' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M960 170L668 -122' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M539 510L903 874' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M411 276L826 691' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M813 447L1002 636' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M62 560L-108 390' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1176 133L1349 306' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1197 243L982 28' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1101 519L1440 858' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1365 427L1126 188' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1276 470L991 185' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M952 174L1158 380' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1095 18L942 -135' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M213 484L361 632' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1320 357L1058 95' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1406 236L1614 444' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M435 435L79 79' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M979 550L1156 727' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M137 223L-78 8' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1017 492L1420 895' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M653 476L986 809' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M501 167L728 394' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1324 301L1141 118' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M746 532L590 376' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1251 162L1668 579' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M727 392L983 648' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M137 444L488 795' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M839 557L531 249' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M505 424L786 705' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M555 500L281 226' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M12 206L345 539' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M505 337L92 -76' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M832 363L645 176' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M258 41L674 457' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M615 370L835 590' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M911 332L1120 541' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1197 412L1586 801' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M175 559L-154 230' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1001'%3e%3cstop stop-color='rgba(162%2c 209%2c 219%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(162%2c 209%2c 219%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='100%25' id='SvgjsLinearGradient1002'%3e%3cstop stop-color='rgba(162%2c 209%2c 219%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(162%2c 209%2c 219%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size:cover;
}
.service_main{
    width: 80%;
    margin:0rem 20%;
    display: flex;
    flex-direction: column;
}

.service-card{
    position: relative;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color_three);
    min-height: 15rem;
    gap: 1rem;
    padding-top: 1rem;
    cursor: pointer;
    background-color:hsl(189, 97%, 30%, 10%);
    transition: box-shadow 0.1s ease-out;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.service-card:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.service-card h2{
    text-align: center;
    font-size: 4rem;
}
.service-card .collapsed-content{
    position: absolute;
    z-index: 1;
    top: 0;
    height: 0%;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: var(--color_one);
    align-items: center;
    gap: 0rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    background-color: var(--color_three);
    background-size:cover;
    transform: scaleY(0);
    transform-origin: top;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.collapsed-content-active{
    height: 100% !important;
    transform: scaleY(1) !important;
}
.collapsed-content .price-enquire{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.collapsed-content .price-enquire h3{
    color: var(--color_three);
    background-color: var(--color_one);
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-size: 1rem;
    border-radius: 5rem;
}
.service_main .collapsed-content p{
    padding: 0.5rem;
    text-align: center;
}
.service_main .collapsed-content a{
    text-decoration: none;
    color: var(--color_three);
    background-color: var(--color_one);
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 5rem;

    transition: background-color 0.2s ease-in-out;
}
.service_main .collapsed-content a:hover{
    background-color: #82b5bf;
}

/* PACKAGE MAIN SECTION */
.package_main{
    display: flex;
    flex-direction: column;
    margin:2rem 20%;
    justify-content: center;
    align-items: center;
}
.package_main p:nth-child(3){
    padding-bottom: 2rem;
}
.package-card-wrapper{
    display: grid;
    justify-content: center;
    grid-template: auto/1fr 1fr;
    gap: 1rem;
}
.package-card{
    min-width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.package-card h2{
    text-align: center;
    background-color:hsl(190, 88%, 80%, 30%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1.5rem;
}
.package-card .intro{
    text-align: center;
    padding: 0 1rem 1rem 1rem;
    font-weight: bold;
}
.package-card .list{
    align-self: center;
    padding: 0.5rem;
    flex: 1;
    list-style-type: none;
}
.package-card a{
    align-self:center;
    text-decoration: none;
    text-align: center;
    color: var(--color_two);
    font-weight: 900;
    font-size: 1.3rem;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    margin: 1rem;
    border: solid var(--color_two) 2px;
}
.package-card a:hover{
    background-color: var(--color_three);
}
.price{
    font-size: 3rem;
    padding: 2rem 0;
    background-color:hsl(190, 88%, 80%, 60%);
    font-weight: bold;
    text-align: center;
}
.triangle{
    width: 0;
    height: 0;
    border-style: solid;
    align-self: center;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    border-top: 30px solid hsl(190, 88%, 80%, 60%);
    border-bottom: 0;
    padding-bottom: 1rem;
}
.fa-check{
    color: var(--color_placeholder);
}

/* TESTIMONIALS MAIN SECTION */
.testimonial-wrapper{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.testimonial-wrapper a{
    text-decoration: none;
    color: var(--color_three);
    border-bottom: solid var(--color_two) 2px;
}
.testimonials_main p:nth-child(3){
    padding: 0 0 2rem 0;
}
.testimonials-content{
    display: flex;
}
.testimonials-content img{
    width: 30rem;
    height: 20rem;
    align-self: center;
    justify-self: center;
}
.testimonial-review{
    display: flex;
    flex-direction: column;
}
.testimonial-review>h3{
    padding-top: 1rem;
}

/* CONTACT US MAIN SECTION */
/* Form page */
form{
    max-width: 100%;
}
form ul{
    list-style: none;
    margin:1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
form li{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.list-item, #msg{
    display: flex;
    
    background-color:var(--color_one);
    border: solid var(--color_two) 2px;
    font-size: 1.3rem;
}
.list-item input{
    flex-grow: 1;
    overflow: hidden;
}
.list-item i{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 2rem;
    color: var(--color_one);
    background-color: var(--color_two);
}
form li input, form li textarea{
    color: var(--color_three); 
}
form ul .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
button{
    font-size: 1.3rem;
    color: var(--color_two);
    width: fit-content;
    padding: 0.5rem;
    align-self: center;
    border: solid 2px var(--color_two);
    cursor: pointer;

    transition-property: color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: linear;
}
button:hover{
    background-color: var(--color_one);
}
.btn-return:hover .a-return{
    color: #060f1e90;
}
textarea{
    vertical-align: top;
    height: 8em;
    font-family:'Nunito', sans-serif;
    font-weight: bold;
}
input, textarea{
    background-color: var(--color_one);
    border: none;
    padding: 0.5rem;
    font-size: 1.3rem;
    outline: none;
}
::placeholder, #plan_name{
    color:var(--color_placeholder);
}


/* MEDIA QUERIES */
@media (min-width:850px) and (max-width:1150px){
    header img{
        width: auto;
        height: 12rem;
    }
    main{
        padding: 3rem 0;
        gap: 2.5rem;
    }
    main .card-wrapper{
        max-width: 30%;
    }
    .card-wrapper img{
        height: 3rem;
    }
    /* PACKAGES MAIN */
    .price{
        font-size: 2.2rem;
    }

    /* TESTIMONIALS MAIN */
    .testimonials-content{
        flex-direction: column;
    }

}


@media (max-width:850px){
    nav{
        padding: 0.5rem 0.5rem;
    }
    .nav-bar-wrapper{
        justify-content: space-between;
    }
    .nav-bar-wrapper .links,
    .nav-bar-wrapper .social-links{
        display: none;
    }
    .nav-bar-wrapper .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
    .other-pages-header{
        padding: 0 0%;
    }

    header{
       gap: 1.4rem;
    }
    header img{
        width: auto;
        height: 6rem;
    }
    header h1{
        font-size:1.2rem
    }
    header .header-links a{
        font-size: 1rem;
        padding: 0.4rem 0.7rem;
    }

    main{
        padding:0 0 1rem 0;
        gap: 2rem;
        align-items: center;
        flex-direction: column;
    }
    main .card-wrapper{
        max-width: 80%;
    }
    .card-wrapper img{
        height: 3rem;
    }
    .card-wrapper h2, .card-wrapper p{
        font-size: smaller;
    }
    /* HOME */
    .home-main{
        padding: 1.5rem 0;
    }
    /* ABOUT US MAIN SECTION */
    .about_us_main, .contactus_main{
        margin: 0;
        padding: 1rem 0;
        max-width: 90%;
        font-size: smaller;
    }
    .aboutus_body header, .packages-body header{
        flex-direction: column;
        padding: 5% 5%;
    }
    .about_us_main p{
        padding-bottom: 2rem;
    }
    /* SERVICES MAIN SECTION */
    .service-wrapper{
        padding: 0;
    }
    .service_main{
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: smaller;
    }
    .service-card{
        min-height: 15rem;
        margin: 0.5rem;
    }
    .service-card:hover{
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
    .service-card h2{
        font-size: 2rem;
    }
    .collapsed-content .price-enquire h3{
        font-size: smaller;
    }
    /* PACKAGES MAIN */
    .package_main{
        margin: 1rem 5%;
        font-size: smaller;
    }
    .package-card-wrapper{
        grid-template: auto/auto;
    }
    .price{
        font-size: 2.2rem;
    }
    /* TESTIMONIALS MAIN */
    .testimonials_main{
        margin: 1rem 5%;
        font-size: smaller;
    }
    .testimonials-content img{
        width: 20rem;
        height: 12rem;
    }
    .testimonials-content{
        flex-direction: column;
    }
    /* CONTACT US MAIN */
}

