:root{
    --color_one:#9feaf9;
    --color_two:#028399;
    --color_three:#1b1c26;
    --color_four:#d9dcde;
    --color_five:#ebede9;

    --color_placeholder:#028399;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-size: 100%;
}
body{
    background-color: var(--color_five);
    min-height: 100vh;
    max-width: 100vw;
}

/* NAVIGATION */
nav{
    z-index: 1;
    position: sticky;
    top: 0;
    max-width: 100%;
    padding: 0.5rem 0;
    background-color: var(--color_three);
    border-bottom: #2F3242 solid 1px;
}
.nav-bar-wrapper{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-bar-wrapper .links{
    display: flex;
    gap: 2rem;
}
.nav-bar-wrapper a, .dropdown_menu a{
    text-decoration: none;
    color: var(--color_one);
    font-size: 1.2rem;
    transition: color 0.2s ease-in-out;
}
.nav-bar-wrapper a:hover, .dropdown_menu a:hover{
    color: var(--color_two);
}
.moz-link img{
    width: auto;
    height: 3rem;
    border-radius: 50%;
    background-color: #2F3242;
}
.moz-link{
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 0.25rem;
}
.logo-text{
    font-weight: bold;
}
.nav-bar-wrapper li, .dropdown_menu li{
    list-style-type: none;
}
.social-links a{
    font-size: 1.8rem;
    color: var(--color_one);
    margin: 0;
    transition: color 0.2s ease-in-out;
}
.nav-bar-wrapper .toggle_btn{
    color: var(--color_one);
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
}
/* DROPDOWN MENU */
.dropdown_menu{
    display: none;
    position:absolute;
    right: 0rem;
    left: 0rem;
    top: 65px;
    height: 0;
    width: unset;
    background-color: #2F3242;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu li:nth-child(1) a{
    padding-top: 1rem;
}
.open{
    height: 330px;
}
.dropdown_menu > *{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .social-links{
    padding-top: 2.5rem;
}

/* HEADER-HERO */
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    gap: 3rem;

    background-color: var(--color_three);
    color: var(--color_one);
    padding: 2rem 0;
    border-bottom: 1rem solid var(--color_one);
}
header img{
    width: auto;
    height: 17rem;
}
header h1{
    font-weight: normal;
}
.header-links{
    display: flex;
    gap: 2rem;
}
header .header-links a{
    text-decoration: none;
    color: var(--color_three);
    background-color: var(--color_one);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 5px;

    transition: background-color 0.2s ease-in-out;
}
header a:hover{
    background-color: #82b5bf;
}


/* MAIN SECTION */
main{
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    gap: 5rem;
}
main .card-wrapper{
    max-width: 20%;
}
main .card-wrapper h2{
    padding:0 0 0.5rem 0;
}
.card-wrapper img{
    width: auto;
    height: 5rem;
}
/* ABOUT US MAIN SECTION */
.about_us_main, .testimonials_main, .contactus_main{
    gap: 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:2rem 20%;
}
hr{
    border: solid 1px var(--color_one);
    width: 100%;
    margin-bottom: 1rem;
    align-self: flex-start;
}
.about_us_main h2,.package_main h1,.testimonials_main h1{
    align-self: flex-start;
}
.about_us_main p{
    padding-bottom: 4rem;
}

/* SERVICES MAIN SECTION */
.service-wrapper{
    
}
.service_main{
    width: 80%;
    margin:0rem 20%;
    display: flex;
    flex-direction: column;
}
.service-card{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color_three);
    min-height: 15rem;
    gap: 1rem;
    padding-top: 1rem;
    background-color: #9FEAF9;
    background-color: #65959F;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%239FEAF9'/%3E%3Cstop offset='1' stop-color='%2365959F'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%2382c0cc'/%3E%3Cstop offset='1' stop-color='%2365959F'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(1000 0)'%3E%3Cg transform='translate(0 225)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-349.2 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.26' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size:cover;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.service_main .collapsed-content{
    align-self: center;
    display: flex;
    overflow: hidden;
    color: var(--color_one);
    flex-direction: column;
    align-items: center;
    max-width: 98%;
    gap: 0rem;
    max-height: 0;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    background-color: var(--color_three);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.32'%3E%3Cpath fill='%2320212d' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23252634' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23292b3a' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%232e3041' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23333548' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%233c3e54' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23454761' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%234e516d' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23575a7a' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23606386' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-size:cover;
    border-radius:10% 10% 50% 50% / 0% 0% 50% 50%;
    transform: scaleY(0);
    transform-origin: top;
    transition: max-height 0.2s ease-out, transform 0.2s ease-out;
}
.collapsed-content-active{
    max-height: 100% !important;
    transform: scaleY(1) !important;
}
.service_main .collapsed-content p{
    padding: 0.5rem;
    text-align: center;
}
.service_main .collapsed-content a{
    text-decoration: none;
    color: var(--color_three);
    background-color: var(--color_one);
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 5rem;

    transition: background-color 0.2s ease-in-out;
}
.service_main .collapsed-content a:hover{
    background-color: #82b5bf;
}

/* PACKAGE MAIN SECTION */
.package_main{
    display: flex;
    flex-direction: column;
    margin:2rem 20%;
    justify-content: center;
    align-items: center;
}
.package_main p:nth-child(3){
    padding-bottom: 2rem;
}
.package-card-wrapper{
    display: grid;
    justify-content: center;
    grid-template: auto/1fr 1fr;
    gap: 1rem;
}
.package-card{
    background-color: var(--color_one);
    padding: 1.5rem;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
}
.package-card ul{
    align-self: left;
    padding-left: 1.5rem;
    flex: 1;
}
.package-card a{
    text-decoration: none;
    text-align: center;
    color: var(--color_three);
    font-size: 1.3rem;
    padding: 0.3rem 0.6rem;
    border-radius: 15px;
    border: solid var(--color_three) 2px;
}
.price{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;

    display: flex;
    justify-content: space-between;
}

/* TESTIMONIALS MAIN SECTION */
.testimonial-wrapper{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.testimonial-wrapper a{
    text-decoration: none;
    color: var(--color_three);
    border-bottom: solid var(--color_two) 2px;
}
.testimonials_main p:nth-child(3){
    padding: 0 0 2rem 0;
}
.testimonials-content{
    display: flex;
}
.testimonials-content img{
    width: 30rem;
    height: 20rem;
    align-self: center;
    justify-self: center;
}
.testimonial-review{
    display: flex;
    flex-direction: column;
}
.testimonial-review>h3{
    padding-top: 1rem;
}

/* CONTACT US MAIN SECTION */
/* Form page */
form{
    max-width: 100%;
}
form ul{
    list-style: none;
    margin:1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
form li{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.list-item, #msg{
    display: flex;
    
    background-color:var(--color_one);
    border: solid var(--color_two) 2px;
    font-size: 1.3rem;
}
.list-item input{
    flex-grow: 1;
    overflow: hidden;
}
.list-item i{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 2rem;
    color: var(--color_one);
    background-color: var(--color_two);
}
form li input, form li textarea{
    color: var(--color_three); 
}
form ul .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
button{
    font-size: 1.3rem;
    color: var(--color_two);
    width: fit-content;
    padding: 0.5rem;
    align-self: center;
    border: solid 2px var(--color_two);
    cursor: pointer;

    transition-property: color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: linear;
}
button:hover{
    background-color: var(--color_one);
}
.btn-return:hover .a-return{
    color: #060f1e90;
}
textarea{
    vertical-align: top;
    height: 8em;
    font-family:'Nunito', sans-serif;
    font-weight: bold;
}
input, textarea{
    background-color: var(--color_one);
    border: none;
    padding: 0.5rem;
    font-size: 1.3rem;
    outline: none;
}
::placeholder, #plan_name{
    color:var(--color_placeholder);
}


/* MEDIA QUERIES */
@media (min-width:850px) and (max-width:1150px){
    header img{
        width: auto;
        height: 12rem;
    }
    main{
        padding: 3rem 0;
        gap: 2.5rem;
    }
    main .card-wrapper{
        max-width: 30%;
    }
    .card-wrapper img{
        height: 3rem;
    }
    /* TESTIMONIALS MAIN */
    .testimonials-content{
        flex-direction: column;
    }

}


@media (max-width:850px){
    nav{
        padding: 0.5rem 0.5rem;
    }
    .nav-bar-wrapper{
        justify-content: space-between;
    }
    .nav-bar-wrapper .links,
    .nav-bar-wrapper .social-links{
        display: none;
    }
    .nav-bar-wrapper .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
    

    header{
       gap: 1.4rem;
    }
    header img{
        width: auto;
        height: 6rem;
    }
    header h1{
        font-size:1.2rem
    }
    header .header-links a{
        font-size: 1rem;
        padding: 0.4rem 0.7rem;
    }

    main{
        padding:0 0 1rem 0;
        gap: 2rem;
        align-items: center;
        flex-direction: column;
    }
    main .card-wrapper{
        max-width: 80%;
    }
    .card-wrapper img{
        height: 3rem;
    }
    .card-wrapper h2, .card-wrapper p{
        font-size: smaller;
    }
    /* HOME */
    .home-main{
        padding: 1.5rem 0;
    }
    /* ABOUT US MAIN SECTION */
    .about_us_main, .contactus_main{
        margin: 0;
        padding: 1rem 0;
        max-width: 90%;
        font-size: smaller;
    }
    /* SERVICES MAIN SECTION */
    .service_main{
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: smaller;
    }
    .service-card{
        min-height: 10rem;
    }
    /* PACKAGES MAIN */
    .package_main{
        margin: 1rem 5%;
        font-size: smaller;
    }
    .package-card-wrapper{
        grid-template: auto/auto;
    }
    .price p{
        font-size: 1rem;
    }
    /* TESTIMONIALS MAIN */
    .testimonials_main{
        margin: 1rem 5%;
        font-size: smaller;
    }
    .testimonials-content img{
        width: 20rem;
        height: 12rem;
    }
    .testimonials-content{
        flex-direction: column;
    }
    /* CONTACT US MAIN */
    form{
    
    }
}

